html{
  font-family: 'Dosis', sans-serif;
}
body{
    margin:0;
    padding: 0;
}
nav{
  padding: 16px;
  z-index: 999;
  position: fixed;
}
nav ul {
    display :flex;
    flex-direction: column;
}
#menuToggle
{
  display: block;
  height: 100%;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 10px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 999; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  
  z-index: 999;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 50vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  height: 100vh;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  z-index: 99;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

#myName{
    display: none;
}
#home{
  
  padding: 20px;
  padding-top: 100px;
  
}
h1{
  font-size: 2rem;
}
#home h2{
  color:black;
}
h2{
  color: teal;
}
#home p{
  font-size: 1.6rem;
  color: teal;
  font-weight: bolder;
}
#aboutMe{
  padding: 10px;
  background-color: palegoldenrod;
  border-radius: 20px;
  opacity: 0.9;
}
main{
  background-image: url('./heroNew.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
#skillsSection{
  background-color: palegoldenrod;
}
#sectionContainer{
  display: flex ;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  padding-bottom: 100px;
}
.skills{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.skills div{
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
}
.sectionHeaderContainer{
  display: flex;
  justify-content:center;
}
.sectionHeader{
  border-bottom: 1px solid black;
}
.innerSectionContainer{
  background-color: palegoldenrod;
  display: flex;
  flex-direction:column;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
}
.companyContainer{
    display: flex;
    flex-direction: column;
    
}
footer{
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: palegoldenrod;;
  width: 100vw;
  opacity: 0.9;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #menuToggle input,#menuToggle span {
        display: none;
    }
    #menuToggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #d3671dab;
        position: static;
    }
    #menu{
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: none;
        transition: none;
        margin: 0;
        padding: 0;
        height: 100%;
    }
    #myName{
        display: flex;
        justify-content: center;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: palegoldenrod;
        padding: 0;

        position: fixed;
        right: 0;
        left: 0;
        top: 0;
    }
    h1{
      font-size: 3rem;
    }
    p{
      font-size: 1.8rem;
    }
    #home{
      height: 100vh;
    }
}




